body {
  font-size: 18px;
  padding: 20px;
  background-color: #cae0f4;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 10px;
  }
  
  table {
    width: 80%;
    font-size: 14px;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  .tabell {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  td, th {
    display: block;
    text-align: left;
  }
  
  td {
    padding: 8px;
  }

  td.keyer {
    margin-top: 15px;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  .tdMobil::before {
    content: "Mobil: ";
    color: rgb(0, 0, 0);
  }
  .tdDator::before {
    content: "Dator: ";
    color: rgb(0, 0, 0);
  }
  .tdPadda::before {
    content: "Padda: ";
    color: rgb(0, 0, 0);
  }
  
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
    padding: 5px;
  }
  
}

header {
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.tabell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

td.keyer:hover{
  background-color: #cae0f4;
  font-size: 18px;
  cursor: pointer;
}


.tr {
  background-color: rgb(219, 231, 242);
}
